@import "tailwindcss";

@font-face {
  font-family: 'Moningue';
  src: url('./assets/monigue.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  /* Configuração de fontes para Tailwind v4 */
  --font-sans: "Cascadia Code", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Moningue", serif;
  
  /* Paleta */
  --color-brand-blue: #2322E3;
  --color-brand-green: #1DEA4C;
  --color-bg-dark: #202020;
  --color-off-white: #F2F9FF;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1, h2 {
    font-family: var(--font-display) !important;
    letter-spacing: 0.1em;
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--color-bg-dark);
    color: var(--color-off-white);
    @apply antialiased tracking-wide;
  }
  
  button, input, textarea, select {
    @apply tracking-wide outline-none;
  }
}